parameters:
    level: 9
    parallel:
        # Increase the job size. The App hits memory limits at 20
        jobSize: 100
        maximumNumberOfProcesses: 32
        minimumNumberOfJobsPerProcess: 2
    paths:
        - tests
        - example
        - benchmarks
        - src
    ignoreErrors:
    excludePaths:
