<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/TestUtils.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage/>
  <logging>
    <junit outputFile="phpunit-junit.xml"/>
    <teamcity outputFile="phpunit-teamcity.log"/>
    <testdoxText outputFile="phpunit-testdox.txt"/>
  </logging>
</phpunit>
